<form>
  Start Date : <input type="text"  name="startdDate" id="startDate"/>
  End Date : <input type="text"  name="enddDate" id="endDate" />
  <p></p>
  <button (click)="getNoDays()">No. Of Days</button>
</form>
<div id="draggable" class="ui-widget-content">
  <p>Drag me to my target</p>
</div>
 
<div id="droppable" class="ui-widget-header">
  <p>Drop here</p>
</div>
<table id="table_id" class="display">
  <thead>
      <tr>
          <th>Column 1</th>
          <th>Column 2</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Row 1 Data 1</td>
          <td>Row 1 Data 2</td>
      </tr>
      <tr>
          <td>Row 2 Data 1</td>
          <td>Row 2 Data 2</td>
      </tr>
  </tbody>
</table>

<table class="table table-striped"   id="table_id1">
  <thead>
      <tr class="table-info">
          <th scope="col">#</th>
          <th scope="col">UID</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let result of users">
          <th scope="row">{{result.id}}</th>
          <td>{{result.userId}}</td>
          <td>{{result.title}}</td>
          <td>{{result.body}}</td>
      </tr>
  </tbody>
</table>